.todos {
  display: flex;
  margin-top: 55px;
  padding: 8px;
  border-radius: 18px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: pink;
  height: 97px;
}
.text {
  width: 80vw;
  height: 190px;
  overflow-wrap: break-word;
}

.todos__edit {
  display: flex;
  flex: 1;
  justify-content: center;
  margin-top: 15px;
}
.edit {
  margin-right: 8px;
}

p {
  margin: 5px;
  padding: 10px;
}
.edit_input {
  display: flex;
  margin: 5px;
  padding: 12px;
}
